In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
dataset = pd.read_csv("order.csv")
print(dataset.shape)

(6471, 6)

In [3]:
# print shape of the dataset with rows and columns
dataset.head()

   order_id  account_id bank_to  account_to  amount k_symbol
0     29401           1      YZ    87144583  2452.0     SIPO
1     29402           2      ST    89597016  3372.7     UVER
2     29403           2      QR    13943797  7266.0     SIPO
3     29404           3      WX    83084338  1135.0     SIPO
4     29405           3      CD    24485939   327.0

In [6]:
print(dataset['k_symbol'])

0           SIPO
1           UVER
2           SIPO
3           SIPO
4
          ...
6466        SIPO
6467
6468    POJISTNE
6469
6470        UVER
Name: k_symbol, Length: 6471, dtype: object

In [7]:
print(dataset['k_symbol'].isnull())

0       False
1       False
2       False
3       False
4       False
        ...
6466    False
6467    False
6468    False
6469    False
6470    False
Name: k_symbol, Length: 6471, dtype: bool

In [7]:
# list of numerical variables
numerical_features = [feature for feature in dataset.columns if dataset[feature].dtypes != 'O']

print('Number of numerical variables: ', len(numerical_features))

# visualise the numerical variables
dataset[numerical_features].head()

Number of numerical variables:  4

   order_id  account_id  account_to  amount
0     29401           1    87144583  2452.0
1     29402           2    89597016  3372.7
2     29403           2    13943797  7266.0
3     29404           3    83084338  1135.0
4     29405           3    24485939   327.0